data/*
*.part
*.avi
*.png
*.tiff
*.dll
*.asv
testfold/*
*.mexw64
kidneyShape.mat
3rdParty/ActiveModels/jaw_asm_data.mat
3rdParty/ActiveModels/InterpFast_version1/interp2fast_double.mexw64
3rdParty/ActiveModels/InterpFast_version1/interp3fast_double.mexw64
3rdParty/ActiveModels/InterpFast_version1/interp3fast_single.mexw64
3rdParty/ActiveModels/PatchNormals_version1/patchnormals_double.mexw64
3rdParty/ActiveModels/PieceWiseLinearWarp_version2/functions/warp_tetrahedron_double.mexw64
3rdParty/ActiveModels/PieceWiseLinearWarp_version2/functions/warp_triangle_double.mexw64
3rdParty/ActiveModels/polygon2voxel_version1j/polygon2voxel_double.mexw64
3rdParty/ActiveModels/InterpFast_version1/interp2fast_double.mexw64
3rdParty/ActiveModels/InterpFast_version1/interp3fast_double.mexw64
3rdParty/ActiveModels/InterpFast_version1/interp3fast_single.mexw64
3rdParty/ActiveModels/PatchNormals_version1/patchnormals_double.mexw64
3rdParty/ActiveModels/PieceWiseLinearWarp_version2/functions/warp_tetrahedron_double.mexw64
3rdParty/ActiveModels/PieceWiseLinearWarp_version2/functions/warp_triangle_double.mexw64
3rdParty/ActiveModels/polygon2voxel_version1j/polygon2voxel_double.mexw64
kidney_aam_data.mat
3rdParty/ActiveModels/InterpFast_version1/interp2fast_double.mexw64
3rdParty/ActiveModels/PieceWiseLinearWarp_version2/functions/warp_triangle_double.mexw64
3rdParty/ActiveModels/InterpFast_version1/interp2fast_double.mexw64
3rdParty/ActiveModels/PieceWiseLinearWarp_version2/functions/warp_triangle_double.mexw64
3rdParty/ActiveModels/InterpFast_version1/interp2fast_double.mexw64
3rdParty/ActiveModels/PieceWiseLinearWarp_version2/functions/warp_triangle_double.mexw64
3rdParty/ActiveModels/InterpFast_version1/interp2fast_double.mexw64
3rdParty/ActiveModels/PieceWiseLinearWarp_version2/functions/warp_triangle_double.mexw64
*.dll
temp/*
outTiffExample1.tiff
outTiffExample1Priors.tiff
outTiffExample10.tiff
outTiffExample10Priors.tiff
SUREGrandExp/res/*
SUREGrandExp/res2/*
tempRes/*
SUREGrandExp/csvRes/FU1_15.csv
SUREGrandExp/csvRes/FU1_20.csv
SUREGrandExp/csvRes/FU1_25.csv
SUREGrandExp/csvRes/FU1_31.csv
SUREGrandExp/csvRes/FU1_36.csv
SUREGrandExp/csvRes/FU1_41.csv
SUREGrandExp/csvRes/FU5_35.csv
SUREGrandExp/csvRes/FU5_39.csv
SUREGrandExp/csvRes/FU5_43.csv
SUREGrandExp/csvRes/FU5_94.csv
SUREGrandExp/csvRes/FU5_95.csv
SUREGrandExp/csvRes/FU5_96.csv
graphResults/liverDataStrctCell.mat
graphResults/liverImgCell.mat
graphResults/lungDataStrctCell.mat
graphResults/lungImgCell.mat
SUREGrandExp/resLatest/case3img.tiff
SUREGrandExp/resLatest/case3variability.tiff
SUREGrandExp/resLatest/FU1img.tiff
SUREGrandExp/resLatest/FU1variability.tiff
SUREGrandExp/resLatest/FU1variabilityLegend.png
SUREGrandExp/resLatest/FU2img.tiff
SUREGrandExp/resLatest/FU2variability.tiff
SUREGrandExp/resLatest/FU2variabilityLegend.png
SUREGrandExp/resLatest/FU4img.tiff
SUREGrandExp/resLatest/FU4variability.tiff
SUREGrandExp/resLatest/FU4variabilityLegend.png
SUREGrandExp/resLatest/FU5img.tiff
SUREGrandExp/resLatest/FU5variability.tiff
SUREGrandExp/resLatest/FU5variabilityLegend.png
SUREGrandExp/resLatest/FU7img.tiff
SUREGrandExp/resLatest/FU7variability.tiff
SUREGrandExp/resLatest/FU7variabilityLegend.png
SUREGrandExp/resLatest/case3variabilityLegend.png
SUREGrandExp/resLatest/case4img.tiff
SUREGrandExp/resLatest/case4variability.tiff
SUREGrandExp/resLatest/case4variabilityLegend.png
SUREGrandExp/resLatest/case5img.tiff
SUREGrandExp/resLatest/case5variability.tiff
SUREGrandExp/resLatest/case10img.tiff
SUREGrandExp/resLatest/case10variability.tiff
SUREGrandExp/resLatest/case10variabilityLegend.png
SUREGrandExp/resLatest/case11img.tiff
SUREGrandExp/resLatest/case11variability.tiff
SUREGrandExp/resLatest/case5variabilityLegend.png
SUREGrandExp/updatedDataCells.mat
SUREGrandExp/unfixedVsFixedCompare/dh_1_case4_27_08_2012.tiff
SUREGrandExp/unfixedVsFixedCompare/kh_14_case5_27_08_2012.tiff
SUREGrandExp/unfixedVsFixedCompare/kh_36_case11_20090906.tiff
SUREGrandExp/unfixedVsFixedCompare/kh_9_case10_18_10_2012.tiff
SUREGrandExp/unfixedVsFixedCompare/livers/as_2_FU5.tiff
SUREGrandExp/unfixedVsFixedCompare/livers/bd_10_FU7.tiff
SUREGrandExp/unfixedVsFixedCompare/livers/bd_3_FU4.tiff
SUREGrandExp/unfixedVsFixedCompare/livers/dh_1_FU5.tiff
SUREGrandExp/unfixedVsFixedCompare/livers/dh_2_FU4.tiff
SUREGrandExp/unfixedVsFixedCompare/livers/dh_2_FU7.tiff
SUREGrandExp/unfixedVsFixedCompare/livers/kh_17_FU7.tiff
SUREGrandExp/unfixedVsFixedCompare/livers/kh_2_FU4.tiff
SUREGrandExp/unfixedVsFixedCompare/livers/ma_3_FU4.tiff
SUREGrandExp/unfixedVsFixedCompare/livers/ma_6_FU1.tiff
SUREGrandExp/unfixedVsFixedCompare/livers/NC_2_FU5.tiff
SUREGrandExp/unfixedVsFixedCompare/livers/nl_1_FU4.tiff
SUREGrandExp/unfixedVsFixedCompare/livers/nl1_8_FU5.tiff
SUREGrandExp/unfixedVsFixedCompare/livers/nl1_9_FU2.tiff
SUREGrandExp/unfixedVsFixedCompare/livers/sb_1_FU2.tiff
SUREGrandExp/unfixedVsFixedCompare/livers/sb_2_FU1.tiff
SUREGrandExp/unfixedVsFixedCompare/livers/sb_23_FU7.tiff
SUREGrandExp/unfixedVsFixedCompare/lungs/dh_1_case4_27_08_2012.tiff
SUREGrandExp/unfixedVsFixedCompare/lungs/kh_14_case5_27_08_2012.tiff
SUREGrandExp/unfixedVsFixedCompare/lungs/kh_36_case11_20090906.tiff
SUREGrandExp/unfixedVsFixedCompare/lungs/kh_9_case10_18_10_2012.tiff
SUREGrandExp/unfixedVsFixedCompare/lungs/ma_5_case11_20090906.tiff
SUREGrandExp/unfixedVsFixedCompare/lungs/ma_5_case5_27_08_2012.tiff
SUREGrandExp/unfixedVsFixedCompare/lungs/nl_3_case11_20090906.tiff
SUREGrandExp/unfixedVsFixedCompare/lungs/ns_1_case3_21_11_2010.tiff
SUREGrandExp/unfixedVsFixedCompare/lungs/ns_6_case11_20090906.tiff
SUREGrandExp/unfixedVsFixedCompare/lungs/ok_11_case11_20090906.tiff
SUREGrandExp/unfixedVsFixedCompare/lungs/ok_11_case5_27_08_2012.tiff
SUREGrandExp/unfixedVsFixedCompare/lungs/sb_1_case3_21_11_2010.tiff
SUREGrandExp/unfixedVsFixedCompare/lungs/sb_11_case11_20090906.tiff
SUREGrandExp/unfixedVsFixedCompare/lungs/sb_13_case5_27_08_2012.tiff
SUREGrandExp/unfixedVsFixedCompare/ma_5_case11_20090906.tiff
SUREGrandExp/unfixedVsFixedCompare/ma_5_case5_27_08_2012.tiff
SUREGrandExp/unfixedVsFixedCompare/nl_3_case11_20090906.tiff
SUREGrandExp/unfixedVsFixedCompare/ns_1_case3_21_11_2010.tiff
SUREGrandExp/unfixedVsFixedCompare/ns_6_case11_20090906.tiff
SUREGrandExp/unfixedVsFixedCompare/ok_11_case11_20090906.tiff
SUREGrandExp/unfixedVsFixedCompare/ok_11_case5_27_08_2012.tiff
SUREGrandExp/unfixedVsFixedCompare/sb_1_case3_21_11_2010.tiff
SUREGrandExp/unfixedVsFixedCompare/sb_11_case11_20090906.tiff
SUREGrandExp/unfixedVsFixedCompare/sb_13_case5_27_08_2012.tiff
case10img.tiff
case10variability.tiff
case10variabilityLegend.png
case11img.tiff
case11variability.tiff
case11variabilityLegend.png
case3img.tiff
case3variability.tiff
case3variabilityLegend.png
case4img.tiff
case4variability.tiff
case4variabilityLegend.png
case5img.tiff
case5variability.tiff
case5variabilityLegend.png
caseb2img.tiff
caseb2variability.tiff
caseb2variabilityLegend.png
caseb5img.tiff
caseb5variability.tiff
caseb5variabilityLegend.png
updatedWorkSpacewith3D220517.mat
updatedWorkSpace250517.mat
videos.zip
updatedWorkSpaceJust3D290517.mat
updatedWorkSpace130617.mat
updatedWorkSpace250517_withSD.mat
updatedEnv1606.mat
updatedEnv1706.mat
updatedEnv1706OrigBrain.mat
updatedEnv1706OrigBrain_2.mat
updatedWorkSpace170620_2.mat
updatedWorkSpace2006.mat
updatedEnv0307.mat
updatedEnv0307_2.mat
estimatedVariabilityEnv.mat
/estimatedVariabilityEnv2.mat
/estimatedVariabilityEnv3.mat
/meetings/thesis/updated folder/~WRL1727.tmp
/meetings/thesis/updated folder/~WRL2501.tmp
/meetings/thesis/updated folder/~WRL2869.tmp
